.hero {
    position: relative;
    top: -70px;
    left: 0;
    background: linear-gradient(to right bottom, rgba(#10181E, 0.9), rgba(#225D1A, 0.9), rgba(#33A115,0.9), rgba(#FFAE13, 0.9)), linear-gradient(to right bottom, rgba(#B098AD, 0.7), rgba(#E9C19A, 0.7)), url(../img/chip.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    @include md {
        height: 75vh;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: repeating-linear-gradient(135deg, transparent 3px, rgba($font-color1, 0.3) 1px), rgba(#527412, 0.34);
        z-index: 1;
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        text-align: center;
        color: $font-color1;
        white-space: nowrap;
        z-index: 2;
        &-top {
            color: $white;
        }
    }
}

.cookies {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(#222222, 0.83); 
    z-index: 3;
    padding: $spacer 0;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__cookie-man {
        display: inline-block;
        height: 64px;
    }
    &__cookie-man-svg {
        padding-left: $spacer;
        fill: $white;
        stroke: $white;
        stroke-width: 1px;
        width: 64px;
        height: 64px;
    }
    &__text {
        display: inline-block;
        font-size: 12px;
        color: $white;
        width: 75%;
        margin-top: 0;
    }
    &__lnk {
        color: $green;
    }
    &__close {
        position: relative;
        padding: 0.25*$spacer 2*$spacer;
        font-size: 12px;
        text-transform: uppercase;
        border: none;
        &-x {
            position: absolute;
            top: 50%;
            right: 0.5*$spacer;
            height: 2px;
            width: 10px;
            background: $white;
            margin-top: -1px;
            transform: rotate(-135deg);
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 2px;
                width: 10px;
                background: $white;
                transform: rotate(-90deg);
            }

        }
    }
}