<section class="clients section" id="clients">
    <div class="slider">
        <div class="slide">
            <h2 class="clients__title">Clients</h2>
            <div class="clients__img"></div>
            <div class="clients__testimonial-wrap">
                <blockquote class="clients__testimonial-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </blockquote>
                <p class="clients__testimonial-author vcard">
                    <span class="fn">Project Manager</span>
                    <a href="http://infinity-group.pl" class="clients__testimonial-author-link url">infinity-group.pl</a>
                </p>
                <div class="clients__tags"></div>
            </div>
        </div>
        <div class="slide">
            <h2 class="clients__title">Clients</h2>
            <div class="clients__img"></div>
            <div class="clients__testimonial-wrap">
                <blockquote class="clients__testimonial-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </blockquote>
                <p class="clients__testimonial-author vcard">
                    <span class="fn">Project Manager</span>
                    <a href="http://infinity-group.pl" class="clients__testimonial-author-link url">infinity-group.pl</a>
                </p>
                <div class="clients__tags"></div>
            </div>
        </div>
        <div class="slide">
            <h2 class="clients__title">Clients</h2>
            <div class="clients__img"></div>
            <div class="clients__testimonial-wrap">
                <blockquote class="clients__testimonial-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </blockquote>
                <p class="clients__testimonial-author vcard">
                    <span class="fn">Project Manager</span>
                    <a href="http://infinity-group.pl" class="clients__testimonial-author-link url">infinity-group.pl</a>
                </p>
                <div class="clients__tags"></div>
            </div>
        </div>
    </div>
    <aside class="anchor-wrap">
            <div class="anchor">
                <p class="anchor-text">2/5</p>
            </div>
    </aside>
</section>