<section class="contact">
    <div class="contact__map">
        <div class="contact__info">
            <div class="contact__info-compass"></div>
            <p class="contact__info-street"></p>
            <p class="contact__info-city"></p>
            <p class="contact__info-country"></p>
            <p class="contact__info-additional"></p>
        </div>
    </div>
    <aside>
        <div class="anchor"></div>
    </aside>
    <div class="contact__wrap">
        <h2>Contact</h2>
        <button class="contact__button-title btn"></button>
        <p class="contact__subtitle"></p>
        <form class="contact__form">
            <label for="uname" class="contact__label"></label>
            <input type="text" class="contact__input name" id="uname">
            <label for="cname" class="contact__label"></label>
            <input type="text" class="contact__input company" id="cname">
            <label for="tel" class="contact__label"></label>
            <input type="telephone" class="contact__input tel" id="tel">
            <label for="mail" class="contact__label"></label>
            <input type="mail" class="contact__input mail" id="mail">
            <input type="checkbox" class="contact__input agreement" id="cbox">
            <label for="cbox" class="contact__label"></label>
            <button type="submit" class="contact__button-form btn"></button>
        </form>
    </div>
    <aside>
        <div class="anchor"></div>
    </aside>
</section>