<header class="header">
    <div class="nav__wrap container">
        <nav class="nav">
            <div class="nav__brand"></div>
            <div class="nav__menu-wrap">
                <div class="nav__top">
                    <div class="nav__brand"></div>
                    <div class="nav__close"><span class="nav__x"></span></div>
                </div>
                <ul class="nav__menu">
                    <li class="nav__menu-item"><a href="#mission" class="nav__menu-link link--special">MISSION</a></li>
                    <li class="nav__menu-item"><a href="#clients" class="nav__menu-link">CLIENTS</a></li>
                    <li class="nav__menu-item"><a href="#products" class="nav__menu-link">PRODUCTS</a></li>
                    <li class="nav__menu-item"><a href="#contact" class="nav__menu-link">CONTACT</a></li>
                </ul>
            </div>
            <div class="nav__open"><span class="nav__burger"></span></div>
        </nav>
    </div>
</header>