<section class="hero section">
    <h1 class="hero__title"><span class="hero__title-top">Praktyki</span><br><span>Infinity-Group</span></h1>
    <div class="cookies cookies-active">
        <div class="cookies__wrap container">
            <div class="cookies__cookie-man">
                <svg class="cookies__cookie-man-svg">
                    <use xlink:href="/assets/img/cookieman.svg#Forma_1"></use>
                </svg>
            </div>
            <p class="cookies__text">We use own and third party cookies to improve our services and show ads related to your preferences by analyzing your browser habits . If you continue browsing , we consider you accept its use. You can switch the configuration or learn more <a href="#" class="cookies__lnk">here</a></p>
            <button class="cookies__close btn btn--cookies">Close <span class="cookies__close-x"></span></button>
        </div>
    </div>
</section>