<section class="products section">
    <div class="products__wrap">
        <h2>Products</h2>
        <p class="products__semi-title"></p>
        <div class="products__categories">
            <div class="products__category">
                <div class="products__category-img1"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img2"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img3"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img4"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img5"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img6"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img7"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img8"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img9"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img10"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img11"></div>
                <p class="products__category-text"></p>
            </div>
            <div class="products__category">
                <div class="products__category-img12"></div>
                <p class="products__category-text"></p>
            </div>
        </div>
    </div>
    <aside>
        <div class="anchor"></div>
    </aside>
</section>